extends layout

block content
	header
		h1= title
		h2 see what streams a Twitch user is currently watching
	form#form(method="GET",action="/results")
		input.form-control#textInput(name="user",type="text",placeholder="Twitch username")
		input#searchButton.btn.btn-primary(type="submit",value="Find")
	br
	br
	div#results
	br
	br
	p#info
		i Includes the ten most viewed streams from each of the ten most viewed games. Updated every ten minutes.
